@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
   font-family: "Public Sans", sans-serif;
}

.bill-slip {
   border: 1px solid #e2e8f0;
   border-radius: 8px;
   padding: 16px;
   background-color: #f7fafc;
}


.bill-slip h2,
.bill-slip h3 {
   color: #2d3748;
}

.bill-slip p {
   color: #4a5568;
}

.bill-slip .bill-items {
   margin: 0;
   padding: 0;
   list-style: none;
}

.bill-slip .bill-items li {
   padding: 4px 0;
}

.bill-slip .bill-total {
   color: #2d3748;
   font-weight: bold;
   text-align: right;
   margin-top: 16px;
}


.sidebar-item {
   @apply relative overflow-hidden;
}

.sidebar-item::before {
   @apply absolute bottom-[0px] right-0 h-[3px] bg-teal-600;
   content: '';
   width: 0;
   transition: width 0.3s ease;
}

.sidebar-item:hover::before {
   width: 100%;
   left: 0;
}

.sidebar-item.active::before {
   width: 100%;
   left: 0;
}

.example::-webkit-scrollbar {
   display: none;
}

.hn {
   width: 600px;
   overflow-x: scroll;

}


@media screen {
   .address,
   .thanks {
      display: none;
   }
}

#timeline {
   animation: grow 1s ease-in-out infinite alternate;
}

@keyframes grow {
   from {
      stroke-dasharray: 0 10;
   }

   to {
      stroke-dasharray: 10 10;
   }
}


/* Expensises component css  */

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.no-spinner {
   -moz-appearance: textfield;
}


/* Admin */

@media (min-width: 768px) {
   .col-md-2 {
      flex: 1 1 auto;
      width: 17.666667%;
   }
}

/* Profile */

.QrCode {
   margin-right: 70px;
}

.admin {
   margin-left: 70px;
}

.blur {
   filter: blur(3px);
}

